html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif KR', serif;
  font-weight: 300;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
