.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 100vh;
  background-image: url("https://cdn.hwang.sh/wedding/header-bg-2x-compressed.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  background-attachment: scroll;
}

.headerTitle {
  position: absolute;
  width: 79vw;
  left: 5.33%;
  top: 5.9%
}

.headerDate {
  position: absolute;
  width: 33vw;
  right: 7%;
  bottom: 6.64%;
}

.info {
  margin: 3.625rem 0;
  text-align: center;
}

.infoUs {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 2rem 0.8125rem;
}

.infoUs thead {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}

.infoWhenAndWhere {
  margin: 4.875rem auto 0 auto;
  font-size: 0.875rem;
  position: relative;
}

.infoWhen::before {
  content: '';
  width: 100%;
  height: 4.4rem;
  display: block;
  background-image: url("https://cdn.hwang.sh/wedding/info-wedding.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -2.5rem;
}

.infoWhere {
  margin: .875rem 0;
}

.infoCalendarBtn {
  margin: 1.5625rem 0 0 0;
  border: none;
  padding: 0;
  appearance: none;
  font: inherit;
  background: none;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}

.infoOurParents {
  margin: 3.5rem auto 0 auto;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
}

.infoOurParents table {
  border-collapse: separate;
  border-spacing: 1.25rem 1.125rem;
}

.infoOurParentsLabel {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.6);
}

.gallery {
  margin: 3.5rem auto 0 auto;
  overflow: hidden;
  padding: 0 3%;
}
